<% if !@application.signature_stamp.blank?
signed = true
sign_action = "unsign"
else
signed = false
sign_action = "sign"
end %>

<% if !signed %>
    <p style="font-style: italic; color: red;" ><%= t("application.message.deadline") %></p>
<% end %>


<script type="text/javascript">
var references = <%= @application.references.select{ |r| r.completed.present? }.count %>;
var signed = <%= signed %>;
var admin = <%=current_user.has_role? :admin %>;
</script>


<%= simple_form_for(@application, :html => { :class => "form-vertical" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="well">
        <h2>Applicant Information</h2>
        <dl>
            <dt>Application ID</dt>
            <dd><%= @application.id %></dd>
        </dl>
        <%= f.input :name, required: true %>
        <%= f.input :email, required: true, :readonly => true %>
        <%= f.input :phone, required: true %>
        <%= f.input :date_of_birth, start_year: Date.today.year - 40, end_year: Date.today.year - 15, required: false %>
        
        <div class="row">
            <div class="col-md-6">
            <% if @application.photo? %>
                <p><strong>Photo</strong></p>
                <img src="<%=@application.photo.url%>" height="50"/>
                <%= hidden_field_tag(:delete_photo, "0") %>
                <%= f.button :submit, "Delete Photo", :class => "btn btn-primary", :id=>"delete_photo_button", confirm: "Are you sure you want to delete the photo?" %>

            <% else %>
                <%= f.input :photo, required: false %>
                <%= f.button :submit, "Upload Photo", :class => "btn btn-primary", :id=> "upload_photo_button", :disabled => true %>                
            <% end %>
            </div>

        </div>
        <%= f.input :biography, as: :tinymce, required: true %>
        
    </div>
    <div class="well">
      <h2>Address Information</h2>
        <%= f.input :street_address, :as => :text, :input_html => {rows: "3", cols: "100"}, required: true %>
        <%= f.input :city, required: true %>
        <%= f.input :state, :collection => us_states_long, required: true %>
        <%= f.input :zip, required: true %>

        </div>
    <div class="well">

        <%= f.input :identify_lgbt, :as => :radio_buttons, required: true %>
        <%= f.input :out_and_open, :as => :radio_buttons, required: false %>
        <%= f.input :supportive_parents, :as => :radio_buttons, required: false %>
        <%= f.input :identify_supporter, :as => :radio_buttons, required: true %>
        <div class="well">
            <%= f.input :how_did_you_learn_about_the_scholarship, :collection => Application::HOW_DID_YOU_LEARN_ABOUT_THE_SCHOLARSHIP, required: true %>
            <%= f.input :how_did_you_learn_explanation, required: false %>
        </div>
    </div>

    <div class="well">
        <h2>Academic Status And High School Information</h2>
        <%= f.input :name_of_high_school, required: true %>
        <%= f.input :date_of_graduation, start_year: Date.today.year-2, end_year: Date.today.year + 2, required: false %>
        <%= f.input :are_you_a_graduating_high_school_senior, :as => :radio_buttons, required: true %>
        <%= f.input :hs_street_address, :as => :text,  :input_html => {rows: "3", cols: "100"}, required: true  %>
        <%= f.input :hs_city, :label => "City", required: true %>
        <%= f.input :hs_state, :collection => us_states_long, required: true %>
        <%= f.input :hs_zip, :label => "Zip", required: true %>
        <%= f.input :cumulative_gpa, required: true %>

        <%= f.input :honors_or_awards, :as => :tinymce, required: true %>

    </div>
    <div class="well">
        <h2>College Information</h2>
        <%= f.input :please_lists_schools_where_you_will_be_applying, :as => :tinymce, required: true %>
        <%= f.input :major, required: true %>
        <%= f.input :admission_status, :collection => Application::ADMISSION_STATUS, required: true %>
        <%= f.input :first_generation, :as => :radio_buttons, required: true %>
        <%= f.input :stem, :as => :radio_buttons, required: true %>
        <p><%= t("simple_form.labels.application.stem_description")%><p>

        
    </div>

    <div class="well">
        <%= f.input :why_do_you_want, label: t("simple_form.labels.application.why_do_you_want_html"), :as => :tinymce, required: true %>
    </div>

    <div class="well">
        <h2>Community Service Involvement and/or Employment History</h2>
        <%= f.input :describe_community_service_activities, :as => :tinymce, required: true %>
        <%= f.input :employment_history, :as => :tinymce, required: true %>
    </div>
    <div class="well">
        <h2>Essay</h2>
        <%= f.input :essay, :as => :tinymce, required: true %>
    </div>
    <div class="well">
    <h2>Reference Letter</h2>
    <%if @application.references.select{ |r| r.completed.present? }.count > 0 %>
        Reference Complete <%= glyph("ok")%><br><br>
        <dl>
            <dt>
                Reference Name</dt>
            <dd><%=@application.references.first.name%></dd>
        </dl>

    <% else %>
        Your reference is not yet complete. You must obtain a professional or academic reference letter.
        <div class="form-group">
            <%=link_to "Send Reference Request", references_path, :class=>"btn btn-primary", :target=>"_BLANK" %>
        </div>
        <%= f.fields_for :reference do |r| %>
            <%= r.input :name, required: true, :disabled => true %>
             <%= r.input :completed, :as => :boolean, :label => 'Reference', :disabled => true %>
        <% end %>
    <% end %>

    </div>
    <a name="transcript"></a>
    <div class="well">
    <h2>Attach Transcript</h2>
    <% if @application.transcript.present? %>
        <p>Transcript Attached:</p>
        <p><%= link_to @application.transcript_file_name, @application.transcript.url, :class => "attached_transcript" %></p>
        <%= hidden_field_tag(:delete_transcript, "0") %>
        <%= f.button :submit, "Delete Transcript", :class => "btn btn-primary", :id=>"delete_transcript_button", confirm: "Are you sure you want to delete the transcript?" %>

    <%else %>
        <p>Please obtain a copy of your transcript from your school and upload it here.</p>
        <%= f.input :transcript, :label => "Transcript", required: true,  :html => { :class => "form-vertical" } %>
        <%= f.button :submit, "Upload Transcript", :class => "btn btn-primary", :id=> "upload_transcript_button", :disabled => true %>
    <% end %>
    </div>

    <div class="well">
    <h2>Waiver and Personal Information Releases</h2>
        <%= f.input :release_high_school, :as => :radio_buttons, required: true  %>
        <%= f.input :release_local_media, :as => :radio_buttons, required: true  %>
        <%= f.input :release_national_media, :as => :radio_buttons, required: true  %>
        <%= f.input :release_local_chapter, :as => :radio_buttons, required: true  %>
        <%= f.input :release_application_to_chapter, :as => :radio_buttons, required: true  %>
        <%= f.input :release_photograph, :as => :radio_buttons, required: true  %>
        <%= f.input :release_essay_collection, :as => :radio_buttons, required: true  %>
        <%= f.input :release_picture_bio_on_website, :as => :radio_buttons, required: true  %>
    </div>
    <%= f.input :signature_stamp, :as => :hidden %>
    <%= f.input :signature_ip, :as => :hidden %>

  <div class="form-actions">
    <%= f.button :submit, "Save Application", :class => "btn btn-primary", :id=>"save_button" %>
    <%#= link_to "Save Application", "#", :class => "btn btn-default", :id=>"save_action_button" %>

  </div>
<% end %>
<br>
<div class="well">
    <h2>Signature</h2>
    <dl>
        <dt>Signature</dt>
            <dd id="signature_status">
            <% if signed %>
                Signed: <%= @application.signature_stamp.getlocal.strftime "%r" %><br>
                <%=glyph("ok") %>   
            <% else %><p style="color: red">
                You must complete all parts of the application, attach your transcript, obtain your references and sign electronically in order for it to be considered for the scholarship.<br>
                Before you sign, you must click "Validate Application" to make sure that you have completed all required fields.</p>
            <% end %>
            </dd>
    </dl>
    <h2>Application Status</h2>
    <div id="application_status">

        <p id="application_glyph">
            <% if signed %>
                You application is complete. Congratulations! We'll notify all applicants of their status in the fall. If you need to make changes, you must "unsign" your application, make the changes, revalidate it and sign it again.   
            <% else %>
                Application has not been validated <%=glyph("exclamation-sign")%>.
                <p style="font-style: italic"><%= t("application.message.deadline") %></p>
            <% end %>
        </p>
        </div>

        <%= link_to "Validate Application", "#", :class => "btn btn-default", :id=>"validate_application_button"  %>
        <div id="sign_disclaimer" style="color:red;"><br>
            By clicking "sign application" below, I represent that all parts of the application are true to the best of my knowledge and agree that if any parts of the application are found to be false any scholarships awarded will be null and void. Further, I hereby give permission to PFLAG to use my application as specified in the release section.<br><br>
        </div>

        <%= link_to "#{sign_action.titleize} Application",  {:id => @application.id, :action => sign_action}, :method => "put", :remote => true, :class => "btn btn-default", :id=>"sign_action_button" unless @application.id.blank?%>
</div>