<%= simple_form_for(@application, :html => { :class => "form-vertical" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="well">
        <h2>Applicant Information</h2>
        <%= f.input :user_id, :readonly => true %>
        <%= f.fields_for :user do |u| %>
            <%= u.input :name %>
            <%= u.input :email %>
        <% end %>
        <%= f.input :phone %>
        <%= f.input :date_of_birth %>
        </div>
    <div class="well">
      <h2>Address Information</h2>
        <%= f.input :street_address, :as => :text %>
        <%= f.input :city %>
        <%= f.input :state, :collection => us_states_long %>
        <%= f.input :zip %>

        </div>
    <div class="well">

        <%= f.input :identify_lgbt, :as => :radio %>
        <%= f.input :out_and_open, :as => :radio %>
        <%= f.input :identify_supporter, :as => :radio %>
        <%= f.input :supportive_parents, :as => :radio %>
        <div class="well">
            <%= f.input :how_did_you_learn_about_the_scholarship, :collection => Application::HOW_DID_YOU_LEARN_ABOUT_THE_SCHOLARSHIP %>
            <%= f.input :how_did_you_learn_explanation %>
        </div>
    </div>

    <div class="well">
        <h2>Academic Status And High School Information</h2>
        <%= f.input :name_of_high_school %>
        <%= f.input :date_of_graduation %>
        <%= f.input :are_you_a_graduating_high_school_senior, :as => :radio %>
        <%= f.input :hs_street_address, :as => :text %>
        <%= f.input :hs_city, :label => "City" %>
        <%= f.input :hs_state, :collection => us_states_long %>
        <%= f.input :hs_zip, :label => "Zip" %>
        <%= f.input :cumulative_gpa %>

        <%= f.input :honors_or_awards, :as => :tinymce %>

    </div>
    <div class="well">
        <h2>College Information</h2>
        <%= f.input :please_lists_schools_where_you_will_be_applying, :as => :tinymce %>
        <%= f.input :major %>
        <%= f.input :admission_status, :collection => Application::ADMISSION_STATUS %>
        <%= f.input :stem, :as => :radio %>
        <%= t("application.form.stem_description")%>

        
    </div>

    <div class="well">
        <h2>Community Service Involvement and/or Employment History</h2>
        <%= f.input :describe_community_service_activities, :as => :tinymce %>
        <%= f.input :employment_history, :as => :tinymce %>
        <%= f.input :essay, :as => :tinymce %>
    </div>
    <div class="well">
    <h2>Waiver and Personal Information Releases</h2>
        <%= f.input :release_high_school, :as => :radio, :required => true %>
        <%= f.input :release_local_media, :as => :radio, :required => true   %>
        <%= f.input :release_national_media, :as => :radio, :required => true   %>
        <%= f.input :release_local_chapter, :as => :radio, :required => true   %>
        <%= f.input :release_photograph, :as => :radio, :required => true   %>
        <%= f.input :release_essay_collection, :as => :radio, :required => true   %>
        <%= f.input :release_picture_bio_on_website, :as => :radio, :required => true   %>
        <%= f.input :reference_id, :readonly => true %>
        <%= f.input :signature_stamp, :readonly => true, :as => :string %>
        <%= f.input :signature_ip, :readonly => true %>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <%= tinymce %>

<% end %>
