<p>
  <b>Name:</b>
  <%= @reference.name %>
</p>

<p>
  <b>Email:</b>
  <%= @reference.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @reference.phone_number %>
</p>

<p>
  <b>How long have you known:</b>
  <%= @reference.how_long_have_you_known %>
</p>

<p>
  <b>Relationship:</b>
  <%= @reference.relationship %>
</p>

<p>
  <b>References essay:</b>
  <%= @reference.references_essay %>
</p>
