<h1>Applications</h1>


<% if current_user.is? :admin %>

<div class="well">
<%= simple_form_for '', :url => applications_path, :method => :get, :html => { :class => "form-inline", :role => "form" } do |f| %>
  <%= f.input :name, :label => false, :wrapper_html => {:class=> "col-md-3"}, input_html: { value: params[:name], :placeholder => "Name"} %>
  Transcript <%= f.check_box :transcript, :checked => (params[:transcript] == '1') %> &nbsp;
  Signed <%= f.check_box :signed, :checked => (params[:signed] == '1') %> &nbsp;
  Essay <%= f.check_box :essay, :checked => (params[:essay] == '1') %> &nbsp;
  Reference <%= f.check_box :reference, :checked => (params[:reference] == '1') %> &nbsp;
  No Blanks <%= f.check_box :completed, :checked => (params[:completed] == '1') %> &nbsp;
  <%= f.button :submit, 'Search', :class => "btn btn-primary" %>
<p><br>
Showing <%= @applications.count %> records
</p>

</div>

<%end%>
<%end%>
<%= simple_form_for '', :url => edit_multiple_applications_path, :html => { :class => "form-inline", :role => "form" } do |f| %>
<% if current_user.is? :admin %>
<div class="well">
  <%= f.input :reviewer, :collection => User.with_role(:reviewer), required: true, :label_html => {:style => "display: none;"}, :wrapper_html => {:class=> "col-md-3"}, prompt: "Assign reviewer..." %>
Replace Reviewers <%= f.check_box :replace_reviewers %> &nbsp;
  <%= f.button :submit, 'Apply', :class => "btn btn-primary" %>
</div>
<% end %>
<%= will_paginate @applications, renderer: BootstrapPagination::Rails %>

<table class="table table-striped">
  <tr>
    <% if current_user.is? :admin %>
    <th><%= check_box_tag 'select_all_application_id', '', false %></th>
    <%end %>
    <th>Name</th>
    <% if current_user.is? :admin %>
    <th></th>
    <th>Complete?</th>
    <th>Signed?</th>
    <th>Transcript?</th>
    <th>Reference?</th>
    <th>Blank<br>Fields?</th>
    <th>Reviewers</th>
    <th>Scores<br>Submitted</th>
    <% end %>
    <th>Scored?</th>
  </tr>
<%= hidden_field_tag :page, params[:page] %>
<% @applications.each do |application| %>
  <tr>
    <% if current_user.is? :admin %>
    <td><%= check_box_tag 'application_ids[]', application.id, false %><%=application.id %></td>
    <%end%>
    <td><%=link_to glyph("file"), application_path(application) %><%= application.applicant.name unless application.applicant.blank? %>
    </td>

    <% if current_user.has_role? :admin %>

    <td>
    <%= link_to glyph("pencil"), edit_application_path(application) if can? :edit, application %>
    <%= link_to glyph("trash"), application, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete, application %>
    </td>

    <td><%= application.incomplete? ? glyph("remove") : glyph("ok") %></td>
    <td><%= application.signed? ? glyph("ok") : glyph("remove") %></td>
    <td><%= application.transcript? ? glyph("ok") : glyph("remove") %> </td>
    <td><%= application.references.select{|s| s.completed.present? }.count  %></td>
    <td><span title="<%=application.blank_fields.join(", ") %>"><%= application.blank_fields_count %></span></td>
    <td><%= application.reviewers.map{|r| r.name}.join(", ") unless application.reviewers.blank? %></td>
    <td><%= application.scores.count %></td>
    <% end %>
    <td><% application.scores.accessible_by(current_ability).each do |s| %>
      <%= link_to glyph("pencil"), edit_score_path(s.id) %>
      <% end %>
      <% if application.scores.accessible_by(current_ability).count == 0 %>
        <%= glyph("exclamation-sign") %>
        <%= link_to "New Score", new_score_path(:application_id => application.id) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @applications, renderer: BootstrapPagination::Rails %>
<% end %>
<br />

<%= link_to 'New Application', new_application_path, :class => 'btn btn-primary' unless current_user.has_role? :student && @applications.length > 0 %>

<% if current_user.has_role? :admin %>
    <%= link_to "Download CSV", applications_path(:format => :csv), :class => 'btn btn-primary'  %>
<%end%>

