<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @application.user_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @application.phone %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @application.date_of_birth %>
</p>

<p>
  <b>Date of graduation:</b>
  <%= @application.date_of_graduation %>
</p>

<p>
  <b>Street address:</b>
  <%= @application.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @application.city %>
</p>

<p>
  <b>State:</b>
  <%= @application.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @application.zip %>
</p>

<p>
  <b>Are you a graduating high school senior:</b>
  <%= @application.are_you_a_graduating_high_school_senior %>
</p>

<p>
  <b>Indentify lgbt:</b>
  <%= @application.indentify_lgbt %>
</p>

<p>
  <b>Out and open:</b>
  <%= @application.out_and_open %>
</p>

<p>
  <b>Identify supporter:</b>
  <%= @application.identify_supporter %>
</p>

<p>
  <b>Supportive parents:</b>
  <%= @application.supportive_parents %>
</p>

<p>
  <b>How did you learn about the scholarship:</b>
  <%= @application.how_did_you_learn_about_the_scholarship %>
</p>

<p>
  <b>Name of high school:</b>
  <%= @application.name_of_high_school %>
</p>

<p>
  <b>Hs street address:</b>
  <%= @application.hs_street_address %>
</p>

<p>
  <b>Hs city:</b>
  <%= @application.hs_city %>
</p>

<p>
  <b>Hs state:</b>
  <%= @application.hs_state %>
</p>

<p>
  <b>Hs zip:</b>
  <%= @application.hs_zip %>
</p>

<p>
  <b>Cumulative gpa:</b>
  <%= @application.cumulative_gpa %>
</p>

<p>
  <b>Please list an honors or awards:</b>
  <%= @application.please_list_an_honors_or_awards %>
</p>

<p>
  <b>Please lists schools where you will be applying:</b>
  <%= @application.please_lists_schools_where_you_will_be_applying %>
</p>

<p>
  <b>Describe community service activities:</b>
  <%= @application.describe_community_service_activities %>
</p>

<p>
  <b>Essay:</b>
  <%= @application.essay %>
</p>

<p>
  <b>Release high school:</b>
  <%= @application.release_high_school %>
</p>

<p>
  <b>Release local media:</b>
  <%= @application.release_local_media %>
</p>

<p>
  <b>Release national media:</b>
  <%= @application.release_national_media %>
</p>

<p>
  <b>Release local chapter:</b>
  <%= @application.release_local_chapter %>
</p>

<p>
  <b>Release photograph:</b>
  <%= @application.release_photograph %>
</p>

<p>
  <b>Release essay collection:</b>
  <%= @application.release_essay_collection %>
</p>

<p>
  <b>Release picture bio on website:</b>
  <%= @application.release_picture_bio_on_website %>
</p>

<p>
  <b>Reference:</b>
  <%= @application.reference_id %>
</p>

<p>
  <b>Signature stamp:</b>
  <%= @application.signature_stamp %>
</p>

<p>
  <b>Signature ip:</b>
  <%= @application.signature_ip %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
