<p id="notice"><%= notice %></p>

<%= @application.attributes.reject{|h| h == "user_id" }.each_pair do |name, value| %>
<p>
  <b><%= t("simple_form.labels.application.#{name}") %></b>
  <%= value %>
</p>
<% end %>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
