<p id="notice"><%= notice %></p>

<div>
<%= image_tag @application.transcript.url(:square) %>
</div>

<%= @application.attributes.reject{|h| h == "user_id" }.each_pair do |name, value| %>
<p>
  <b><%= t("simple_form.labels.application.#{name}") %></b>
  <%= value %>
</p>
<% end %>

<ul class="nav nav-pills">
<li>
	<%= link_to 'Edit', edit_application_path(@application) %>
</li>
<li>
	<%= link_to 'Back', applications_path %>
</li>
</ul>