<h1>Scores</h1>

<table class="table table-striped">
  <tr>
    <th>Application</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scores.each do |score| %>
  <tr>
    <% score_blank = score.application.blank? or score.application.user.blank? %>
    <td><%= score.application.user.name unless score_blank %></td>
    <td><%= score.normalized_score unless score_blank %></td>
    <td><%= link_to 'Show', score %></td>
    <td><%= link_to glyph("pencil"), edit_score_path(score) %></td>
    <td><%= link_to glyph("trash"), score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
