<h3>Users</h3>
<div class="span8">

<div class="well">
<%= simple_form_for '', :url => users_path, :method => :get, :html => { :class => "form-inline", :role => "form" } do |f| %>
  <%= f.input :name, :label => false, :wrapper_html => {:class=> "col-md-3"}, input_html: { value: params[:name], :placeholder => "Name"}, :required => false %>
  <%= f.input :email, :label => false, :wrapper_html => {:class=> "col-md-3"}, input_html: { value: params[:email], :placeholder => "Email"},  :required => false %>
  Reviewer <%= f.check_box :reviewers, :checked => (params[:reviewers] == '1') %> &nbsp;

  <%= f.button :submit, 'Search', :class => "btn btn-primary" %>
<p><br>
Showing <%= @users.count %> records
</p>

</div>

<%end%>

<%= will_paginate @applications, renderer: BootstrapPagination::Rails %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= link_to "Name", :order => (params[:order] == 'name_asc' ? 'name_desc' : "name_asc") %></th>
      <th></th>
      <th>Email</th>
      <th><%= link_to "Registered", :order => (params[:order] == 'registered_desc' ? 'registered_asc' : "registered_desc") %></th>
      <th># of Apps</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= link_to glyph("pencil"), edit_user_path(user) %></td>      
      <td><%= link_to user.email, "mailto:" + user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= link_to user.applications.count, applications_path(:user_id => user.id) %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button"><%= user.roles.first.name.titleize unless user.roles.first.nil? %></a>
        <%= render user %>
      </td>
      <td><%= link_to(glyph("trash"), user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @applications, renderer: BootstrapPagination::Rails %>

</div>
