
<div class="jumbotron">
	<div class="row">
		<div class="col-md-offset-0 col-md-2 col-xs-offset-3 col-xs-6">
		<%=image_tag 'logo.png', :class=>"img-responsive", :style=>"margin-right: 20px; margin-bottom: 25px;"%>
		</div>
		<div class="col-md-10 col-md-offset-0 col-xs-offset-0 col-xs-12">
		<h1 class="center-on-xs"><span class="hidden-xs">PFLAG National </span>Scholarship Application</h1>
		</div>
	</div>
</div>
<div class="col-md-offset-4 col-md-4 col-xs-offset-0 col-xs-12">
<p>
<% if current_user.present? && current_user.application.present? %>
	<%= link_to "Go To Application", edit_application_path(current_user.application.id), :class=>"btn btn-primary btn-lg col-md-12 col-xs-12" %>
<% elsif deadline_passed? %>
    <p style="font-style: italic"><%= t("application.message.deadline_has_already_passed") %></p>
<% else %>
	<%= link_to "Begin Application", new_user_session_path, :class=>"btn btn-primary btn-lg col-md-12 col-xs-12", :role => "button" %>
<% end %>
    <br>
    <br>
    <br>

</p>
</div>

<div class="col-md-offset-2 col-md-8" style="text-align: center">
    <p style="font-style: italic"><%= t("application.message.deadline") %></p>
</div>

<div class="col-md-offset-2 col-md-8">

	<%= image_tag "scholarships-sign.jpg", :class=>"pull-right col-xs-12 col-md-3 img-responsive", :style=>"padding: 0px; margin-left: 20px; border: 15px solid #f2f1ef; border-radius: 5px;"%>
	<p>
	The PFLAG Scholarship program is a critical component of our <a href="http://www.pflag.org/safeschools"><em>Cultivating Respect: Safe Schools for All </em></a>Program, rewarding hard work and leadership in the next generation. It is an opportunity to reach out to young people and acknowledge their role in building our community. What better way to show our commitment to students than to provide support for role models and pioneers around the country that are making schools safer for all students? </p>

	<p>PFLAG’s local and national scholarships are one of the many ways PFLAG supports LGBT and ally youth. Support the students in your community by encouraging them to apply for the PFLAG Scholarship Program.</p>

	<p>
	Many PFLAG chapters have scholarship programs as well. Students are eligible to receive scholarships from both their local chapter and the national office so encourage students you know to apply for both. Review the list of <a href="http://community.pflag.org/page.aspx?pid=375">chapter scholarships</a>.</p>
	<p>
	PFLAG National Scholarships are made possible by several generous donations including The GLAD (Gay, Lesbian and Allies at Dow) Employee Network and Lockheed Martin.&nbsp; In addition, many individual donors have contributed to the fund.</p>
</div>
<div class="col-md-offset-2 col-md-8">
	<h3>Eligibility Requirements</h3>
	<ul>
	<li>You are a graduating senior entering higher education for the first time this calendar year<br><em>(Note: if you graduated within the last year and took time off you are still eligible to apply).</em></li>
	<li>Self-identify as a member or ally of the LGBTQ community</li>
	<li>Demonstrate an interest in service to the LGBTQ community.</li>
	<li>Have applied to an accredited U.S. higher education institution.</li>
	<li>Cannot be receiving full tuition from other sources to fund the education (e.g., other full-tuition scholarships, established college trust fund, etc.)</li>
	</ul>
	<strong style="font-family: arial, helvetica, sans-serif; font-size: 10pt;">See all of 2014 PFLAG National Scholarship recipients in the current issue of the&nbsp;<a href="http://community.pflag.org/document.doc?id=879" target="_BLANK">PFLAGPole</a>!</strong>
	<p>&nbsp;</p>
	<p></p>
</div>
