<%= simple_form_for(@reference) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div>
      <b>Student Name: </b><%= @reference.user.name unless @reference.user.blank? %>
    </div>
    <% if current_user.is? :admin %>
    <p><b><%= link_to "Private Edit Link", @reference.token_url %></b>

    </p>
    <p>
      <b>Email:</b>
      <%= link_to @reference.email, "mailto:#{@reference.email}"%>
    </p>

    <p>
      <b>Phone number:</b>
      <%= @reference.phone_number %>
    </p>
    <% end %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone_number %>
    <%= f.input :how_long_have_you_known%>
    <%= f.input :relationship, :as => :string  %>
    <h3>Please Rank The Applicant In Each of The Following Areas</h3>
    <table class="table table-striped">
    <thead>
      <tr>
      <th>
        &nbsp;
      </th>
      <% Reference::RATING_SCALE.each do |rating| %>
        <th><%= rating[0] %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
    <% rating_fields = [:maturity, :leadership_ability, :self_confidence, :self_awareness, :intellectual_curiosity, :initiative, :adaptability, :personal_integrity, :respect_for_different_viewpoints]; %>
    <% rating_fields.each do |field| %>
      <%= rating_row(field,f) %>
    <% end %>
    </tbody>
    </table>

    <%= f.input :references_essay, :as => :tinymce %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-default" %> <%= link_to "Delete", f.object, class: 'btn btn-danger', data: {method: 'DELETE'}, confirm: "Are you sure you want to delete the reference?"  if can? :delete, f.object %>
  </div>
<% end %>
