<%# add navigation links to this file %>
<% if user_signed_in? and current_user.has_role? :student %>
	<% if Application.find_by_uid(current_user.id).present? %>
   		<li><%= link_to 'My Application', edit_application_path(Application.find_by_uid(current_user.id)) %></li>
   	<% else %>
	   	<li><%= link_to 'My Application', new_application_path %></li>
   	<% end %>
    <li><%= link_to 'My References', references_path %></li>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.has_role? :reviewer or current_user.has_role? :admin %>
   	<li><%= link_to 'Applications', applications_path %></li>
    <li><%= link_to 'Scores', scores_path %></li>

  <% end %>
  <% if can? :manage, :user %>
    <li class="dropdown open">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Users', users_path(:order => "registered_desc") %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'Students', users_path(:role => "student") %>
        </li>
        <li>
          <%= link_to 'Reviewers', users_path(:role => "reviewer") %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to 'References', references_path %>
        </li>
      </ul>
    </li>
        

  <% end %>
<% end %>
