<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Scholarships" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Scholarships" %>">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tinymce %>
  </head>
  <body>
    <%# application layout styled for Bootstrap 2.3 %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="<%="#{controller_name} #{action_name}"%>">
      <div class="container">
        <div class="content">
           <div class="row">
              <%= render 'layouts/messages' %>
          </div>
          <div class="row">
              <%= yield %>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
